.FooterSection {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;
  margin: 3rem 0 0 0;
  padding: 0;
}

.MainFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2.5rem 0;
  background-color: var(--DarkColor);
}

.MainFooterContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 80%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.MainFooterContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.MainFooterContentColumn1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 40%;
  height: auto;
  max-height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
